*{
    margin: 0px;
    padding: 0px;
}
.main-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 235, 235);
}
.input-box{

    height: 30%;
    text-align: center;
}
.result{
    margin-top: 60px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow: scroll;
}
.title{
    height: 40px;
    width:200px ;
    border: 5px;
    border-radius: 20px;
    background-color: transparent;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    border-right: 2px solid blue;
    border-left: 2px solid blue;
    outline: none;
    text-align: center;
    font-size: 16px;
    position: absolute;
    top: 100px;
}
.notes{
    height: 40px;
    width: 300px;
     border: 5px;
    border-radius: 20px;
    background-color: transparent;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    border-right: 2px solid blue;
    border-left: 2px solid blue;
    outline: none;
    text-align: center;
    font-size: 16px;
    padding: 10px;
  
}
.add-but{
    width: 40px;
    height: 40px;
    border: 2px;
    border-radius: 100%;
    background-color: transparent;
    outline: none;
    position: absolute;
    top: 50px;
}
.up-but{
    width: 40px;
    height: 40px;
    border: 2px;
    border-radius: 100%;
    background-color: transparent;
    outline: none;
}
.notes-item {
    width: 300px;
    height: 220px;
    background-color: ghostwhite;
    margin: 10px;
    border-radius: 20px;
    text-align: left;
    box-shadow: 3px 2px 2px 3px lightgray;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-name {
    color: brown;
    font-size: 20px;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.notes-name {
    font-size: 16px;
    padding-top: 10px;
    margin-bottom: 25px;
    color: #333;
}

.button-group {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.edit-but,
.del-but {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}
